.button-general {
    border-color: var(--secondary-background) !important;
    background-color: var(--secondary-background) !important;
    color: var(--secondary-text) !important;
    box-shadow: none !important;
}

.button-general:hover {
    background-color: var(--secondary-background-hover) !important;
}