.map-bar {
    min-width: 310px;
    width: 100%;
}

.map-bar-container {
    max-width: 310px;
    max-height: 800px;
}

.map-address-list {
    overflow-y: auto;
    height: 100%;
    max-height: 607px;
}

.map-address-list::-webkit-scrollbar {
    width: 15px;
}

.map-address-list::-webkit-scrollbar-thumb {
    background-color: var(--general);
    border-left: 5px solid #ffffff;
    border-radius: 7px;
}

.map-address-item {
    cursor: pointer;
    transition: 0.2s;
}

.map-address-item:hover {
    background-color: var(--general-ligth);
    color: var(--secondary-text);
    transition: 0.2s;
}

.map-address-item_active {
    color: var(--secondary-text) !important;
    background-color: var(--secondary-background) !important;
}

.map-tab {
    padding: 0 20px;
}

.map-component {
    width: 100%;
    height: 500px;
}